/* reset browser  */
    *{
        margin: 0px;
        padding: 0px;
    }
    .dropdown-mega {
  display: none; /* hidden by default */
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background: #fff;
  padding: 2rem;
  z-index: 1000;
  border-top: 3px solid #d4af37;
}
/* Search box  */
 .search-box {
    flex: 1;
    margin: 0 30px 0px 100px;
    position: relative;
  }
  .search-box input {
    /* Font & Text */
	font-family: " montserratregular", sans-serif;
	font-size: 17px;
	font-style: italic;
	font-variant: normal;
	font-weight: 400;
	letter-spacing: normal;
	line-height: 25.5px;
	text-decoration: none solid rgb(0, 0, 0);
	text-align: start;
	text-indent: 0px;
	text-transform: none;
	vertical-align: baseline;
	white-space: normal;
	word-spacing: 0px;

	/* Color & Background */
	background-attachment: scroll;
	background-color: rgb(245, 245, 245);
	background-image: none;
	background-position: 0% 0%;
	background-repeat: repeat;
	color: rgb(0, 0, 0);
/* Box */
	height: 46.4807px;
	width: 532.389px;
	border: 0px none rgb(0, 0, 0);
	border-top: 0px none rgb(0, 0, 0);
	border-right: 0px none rgb(0, 0, 0);
	border-bottom: 0px none rgb(0, 0, 0);
	border-left: 0px none rgb(0, 0, 0);
	margin-left: 700px;
	padding: 8px 12px 13px 14px;
	max-height: none;
	min-height: 0px;
	max-width: none;
	min-width: 0px;
    /* Positioning */
	position: relative;
	top: 0px;
	bottom: 0px;
	right: 0px;
	left: 0px;
	float: none;
	display: inline-block;
	clear: none;
	z-index: auto;
	/* Miscellaneous */
	overflow: clip;
	cursor: text;
	visibility: visible;
	box-shadow: none;
	border-top-left-radius: 31px;
	border-top-right-radius: 31px;
	border-bottom-left-radius: 31px;
	border-bottom-right-radius: 31px;
  }
    /* .dropdown-mega {
      position: absolute;
      left: 0;
      right: 0;
      top: 100%;
      display: none;
      background: #fff;
      padding: 2rem;
      z-index: 1000;
      border-top: 3px solid #d4af37;
    } */
    .nav-item:hover .dropdown-mega {
      display: block;
    }
    .nav-item:hover .dropdown-mega{
        background-color: azure;
    }
    .dropdown-mega h6 {
      border-bottom: 1px solid #d4af37;
      padding-bottom: 5px;
      margin-bottom: 10px;
      font-weight: bold;
    }
    .dropdown-mega ul {
      list-style: none;
      padding-left: 0;
    }
    .dropdown-mega ul li {
      margin-bottom: 6px;
      font-size: 14px;
    }
    .top-bar {
      background: #f8f9fa;
      font-size: 14px;
      padding: 5px 0;
    }

    /* image hover up  */
    /* .hover-slide-up {
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
  } */

  /* .hover-slide-up:hover {
    transform: translateY(-10px); /* moves up */
  /* } */ */
  #pic1 img{
    overflow: hidden;
    transition: all 5s;
  }
  #pic1:hover img{
   transform: scale(1.1);
  }

  /* carosel  */
  .slider{
    max-width: 100%;
    display: flex;
  }
  .slider .card{
    flex: 1;
    margin: 0 10px;
    background: #fff;
  }
  
  .slider .card .img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  #f_content{
    color: white;
  }
  #pay{
    position: relative;
  }
  #pay img{
    margin-right: 0px;
  }
  caption{
    position: absolute;
    margin-left: 3px;
    margin-bottom: -10px;
    font-size: small;
    display: inline;
    z-index: 9999;

  }

  /* mega menu 2  */
  .navbar .dropdown-menu div[class*="col"] {
    margin-bottom:1rem;
 }
 
 .navbar .dropdown-menu {
   border:none;
   background-color: white!important;
   margin-top:8px;
  
 }
 
 
   
 .navbar {
   padding-top:0px;
   padding-bottom:0px;
 }
 
 .navbar .nav-item {
   padding:.5rem .5rem;
   margin:0 .25rem;
 }
 
 .navbar .dropdown {position:static;}
 
 .navbar .dropdown-menu {
   width:100%;
   left:0;
   right:0;
   top:45px;
 }
   
 .navbar .dropdown:hover .dropdown-menu, .navbar .dropdown .dropdown-menu:hover {
   display:block!important;
 }
   
   .navbar .dropdown-menu {
     border: 1px solid rgba(0,0,0,.15);
     background-color: #fff;
   }
 
 a.i{
   margin-top:-20px;
   font-weight: 400;
   color:black;
 }
 
 a.catogary{
   margin-left:-20px;
   color:white;
 }
 
 button.srch{
   padding:0px;
 }
 
 @media only screen and (max-width: 1024px) and (min-width: 768px)  {
 
 input.srch{
   padding:0px;
   width:100%;
 }
 }
 
 a.nav-link.active{
   font-weight: 700;
   background-color:gold;
   color:black;
  
 }
 
 a.navbar-brand{
   color:white;
   margin-left: 20px;
   margin-top: 1px;
   margin-bottom: 5px;
 }
 
 
 span.navbar-toggler.icon{
   color:black;
 }
 